.contact-custom {
    width: clamp(30rem, 80vw, 70rem);
    /* clamp doesn't work completely */
    margin: 3rem auto 10rem;
}

.contact-title-icons-form {
    width: 70%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    padding: 2rem 2.8rem;
}

.contact-title {
    display: flex;
    flex-direction: column;
}

.contact-title::after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.308);
    margin-top: .8rem;
    margin-left: -1.3rem;
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.contact-icons > div {
    width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icons > div + div {
    margin-left: 1rem;
}

.contact-icons h4 {
    margin-top: 1.6rem;
}

.contact-icons p {
    font-weight: 300;
    font-size: clamp(.6em, 1vw, .8em);
    text-align: center;
    margin-top: 1rem;
}

.bg-icon {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.phone-icon {
    width: clamp(4rem, 10vw, 8.5rem);
    height: clamp(4rem, 10vw, 8.5rem);
    background: url(../../images/phone.svg);
}

.email-icon {
    width: clamp(4rem, 10vw, 8.5rem);
    height: clamp(4rem, 10vw, 8.5rem);
    background: url(../../images/email.svg);
}

.location-icon {
    width: clamp(4rem, 10vw, 8.5rem);
    height: clamp(4rem, 10vw, 8.5rem);
    background: url(../../images/location.svg);
}

/* OR & Form section */
.or {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    opacity: .6;
}

.or::before {
    content: '';
    width: 47%;
    height: 1px;
    background: rgba(0, 0, 0, 0.301);
    margin-top: .3rem;
}

.or::after {
    content: '';
    width: 47%;
    height: 1px;
    background: rgba(0, 0, 0, 0.301);
    margin-top: .3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.credentials-message-container {
    display: flex;
    justify-content: center;
}

.credentials-message-container > div {
    width: 40%;
}

.credentials-message-container > div + div {
    margin-left: 2rem;
}

.label-input-container {
    display: flex;
    flex-direction: column;
}

.label-input-container + .label-input-container {
    margin-top: 1rem;
}

#name,
#email {
    height: 2.2rem;
    padding-left: 0.2rem;
    margin-top: 0.4rem;
}

#message {
    resize: none;
    padding: .2rem .2rem 60.5px .2rem; 
    margin-top: 0.4rem;
}

.submit-msg-btn {
    align-self: center;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background: #116ABE;
    border: 1px solid #116ABE;
    border-radius: 30px;
    margin-top: 1.8rem;
    padding: .8rem 4rem;
    transition: all .4s ease-in-out;
}

/* Hover & Focus */

.submit-msg-btn:hover,
.submit-msg-btn:focus {
    color: black;
    border: 1px solid black;
    background: white;
    opacity: .7;
}

/* Tablet */
@media (max-width: 1000px) {
    .contact-custom {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .contact-title-icons-form {
        width: 70%;
    }

    .contact-icons > div {
        width: 8rem;
    }
}

/* Phone */
@media (max-width: 650px) {
    .contact-title-icons-form {
        width: 80%;
    }

    .contact-address {
        width: 5rem;
        font-size: .55em !important;
    }
}
