.content-sidenav {
  display: flex;
  justify-content: space-between;
}

.sidenav {
  width: clamp(14rem, 30vw, 15rem);
  min-width: 14rem;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  margin-left: 2rem;
}

.sidenav a {
  color: #777777;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: 1rem 1rem;
  transition: all 0.3s ease-in-out;
}

.sidenav a + a {
  margin-top: 0.25rem;
}

/* Hover & focus */

.sidenav a:hover,
.sidenav a:focus {
  color: black;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.295);
}
