.call-to-action-container {
    width: 100vw;
    height: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #264669;
    padding: 3rem 4rem;
}

/* H1 */
.call-to-action-container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2.5em;
}

.call-to-action-container h1::after {
    content: '';
    width: 14rem;
    height: .2rem;
    background: white;
    margin-top: 1rem;
}

/* Form */
.redirect-form {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.call-to-action-email {
    width: 33rem;
    border: none;
    border-radius: 5px;
    padding: 1rem .6rem;
    margin-right: 2rem;
}

.redirect-button {
    cursor: pointer;
    color: white;
    font-weight: 600;
    background: #1D84C7;
    border: none;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    transition: all .4s ease-in-out;
}

/* Hover & focus state */
.redirect-button:hover,
.redirect-button:focus {
    color: black;
    background: white;
}

@media (max-width: 700px) {
    .call-to-action-container {
        height: 18em;
        padding-inline: 2rem;
    }

    .call-to-action-container h1 {
        font-size: 2em;
    }

    .call-to-action-container h1::after {
        width: 11rem;
    }

    .redirect-form {
        width: 100%;
    }

    .call-to-action-email {
        width: 100%;
        margin-right: 1.1rem;
    }

    .redirect-button {
        font-size: .8em;
        padding: .7rem 1rem;
    }
}
