.hero {
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vw;
    padding-right: 5vw;
}

/* Text and Buttons */
.text-btns {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-btns > * + * {
    margin-top: 1.5rem;
}

.text-btns h1 {
    width: 35vw;
    font-size: clamp(1.5em, 5vw, 2.8em);
}

.text-btns p {
    width: 38vw;
    font-size: 1.11em;
    margin-top: 1rem;
}

.btns a {
    color: white;
    cursor: pointer;
    font-weight: 600;
    background: #1D84C7;
    padding: .8rem 1rem;
    transition: all .3s ease-in-out;
}

.btns a + a {
    color: #1D84C7;
    background: #fafafa;
    border: 1px solid #1D84C7;
    margin-left: 1.5rem;
    padding-inline: 1.8rem;
}

.btns a:hover,
.btns a:focus {
    color: #1D84C7;
    background: #fafafa;
    border: 1px solid #1D84C7;
} 

.btns a + a:hover,
.btns a + a:focus {
    color: white;
    background: #1D84C7;
} 

/* Illustration */
.rocket-illustration {
    height: 36em;
    width: 36em;
    background-image: url(../../images/rocket-illustration.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.absolute {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.bubble-s {
    left: 3.7em;
    top: 3em;
    height: 5em;
    width: 5em;
    background-image: url(../../images/small.svg);
}

.bubble-m {
    right: 3em;
    bottom: 0;
    height: 7em;
    width: 7em;
    margin-bottom: -1.1rem;
    background-image: url(../../images/medium.svg);
}

.bubble-l {
    right: 5.7em;
    top: 2em;
    height: 9em;
    width: 9em;
    margin-bottom: -1.1rem;
    background-image: url(../../images/large.svg);
}

.bubble-xl {
    left: 2.6em;
    bottom: 0;
    height: 9.5em;
    width: 9.5em;
    margin-bottom: -1.8rem;
    background-image: url(../../images/x-large.svg);
}
