nav {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background: #1D84C7;
    padding-inline: 5vw;
    padding-top: 1.2rem;
}

a {
    text-decoration: none;
}

.logo {
    color: white;
}

.right-nav-cont {
    display: flex;
    justify-content: space-between;
}

.list-items {
    width: clamp(15em, 50vw, 25em);
    display: flex;
    justify-content: space-between;
    margin-top: .8rem; 
    margin-right: 2rem;
}

.list-items > a {
    color: white;
    font-weight: 600;
    font-size: .8em;
}

.list-items > a + a {
    margin-left: 1rem;
}

.line-container {
    height: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .7rem; 
}

.line {
    width: 1.8em;
    height: 3px;
    background: white;
}

.half-line {
    width: 1.1em;
}


