:root {
    --white: white;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fafafa;
    overflow-x: hidden;
}

li {
    list-style: none;
}